<!DOCTYPE html>
<html>
	<head>
		<title>Weather3x</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='websiteStyles.css') }}" />
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='jeff_square_head.jpg') }}">
		<link type="image/png" href="{{ url_for('static', filename='compare.png') }}">
		<link type="image/png" href="{{ url_for('static', filename='state.png') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='city.jpg') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='happyhome.jpg') }}">
		
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjbWfUeCBmVzvJT4Na9cCPAWnB7XllbNo&callback=initMap"></script>
		<script type="text/javascript" src="../Static/Website.js"></script>
	</head>
	<body>
		<ul id="nav_bar">
		  <li><a id="home" onclick="onHomeNav()" href="http://thacker.mathcs.carleton.edu:5236/">Home</a></li>
		  <li><a id="state" onclick="onStateNav()" href="http://thacker.mathcs.carleton.edu:5236/state">State</a></li>
		  <li><a id="city" onclick="onCityNav()" href="http://thacker.mathcs.carleton.edu:5236/city">City</a></li>
		  <li><a id="compare" onclick="onCompareNav()" href="http://thacker.mathcs.carleton.edu:5236/compare">Compare</a></li>
		  <li><a id="find_city" onclick="onFindCityNav()" href="http://thacker.mathcs.carleton.edu:5236/find">Find City</a></li>
		  <li style="float: right"><a  class="active" id="about" onclick="onAboutNav()" href="http://thacker.mathcs.carleton.edu:5236/about">About</a></li>
		</ul>
		<div id="page">
			<div class="title">
			<h1>Features</h1>
			</div>
			<div class="aboutSubTitle">
				<h3> State </h3>
				<p> This search requires a state abbreviation. It returns the maximum, minimum temperature recorded for the year of 2016 in the state searched. Mean Temp is the average temperature state wide for 2016. Rain and Snow Index are numbers that describe how the amount of rain and snow in a state. A higher index means more rain or snow. </p>
			</div> 
			<div class="aboutSubTitle">
				<h3> City </h3>
				<p> This search requires a state abbreviation and the full name of city. It returns the maximum, minimum temperature recorded for the year of 2016 in the city searched. Mean Temp is the average temperature of that city in  2016. Rain and Snow Index are numbers that describe how the amount of rain and snow in a city. A higher index means more rain or snow. </p>
			</div>
			<div class="aboutSubTitle">
				<h3> Compare </h3>
				<p> This search has two options. Option 1: If you enter two state abbreviations and leave the city search blank it will compare the two searched states. It returns the maximum, minimum, and mean temperature as well as a rain and snow index for each state, allowing for a easy comparison of two states. Option 2: If the city search bars are both not empty, it will return a comparison of the two cities entered. </p>
			</div>
			<div class="aboutSubTitle">
				<h3> Find </h3>
				<p> Option 1: State Finder: Enter the minimum and maximum temperature values of temperature range and enter the number of results you would like. Next Select The State button, then click the find button. This will return the states whose mean temperature for the year of 2016 is within the temperature range entered. </p>
				<p> Option 2: City Finder: Enter the minimum and maximum temperature values of temperature range and enter the number of results you would like. Next Select The City button, then click the find button. This will return the cities whose mean temperature for the year of 2016 is within the temperature range entered.If you do not recognize a city, click on the button to see its location on a map! </p>
				<p> Option 3: City Finder with Days selected: Enter the minimum and maximum temperature values of temperature range and enter the number of results you would like. Next Select The City button and select the days option, then click the find button. The returned table will be ordered by days. Each day represents a day where the mean temperature for that day was within the searched temperature range. If you do not recognize a city, click on the button to see its location on a map!</p>
			</div>
			<div class="title">
				<h1>Data</h1>
				<div class="aboutSubTitle">
					<p> The data that this website is based on comes from NOAA. It represents data selected by NOAAs 7000+ weather stations around the U.S for the year 2016. </p>
				</div>
			</div>
		</div>
	</body>
</html>