<!DOCTYPE html>
<html>
	<head>
		<title>Weather3x</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='websiteStyles.css') }}" />
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='jeff_square_head.jpg') }}">
		<link type="image/png" href="{{ url_for('static', filename='compare.png') }}">
		<link type="image/png" href="{{ url_for('static', filename='state.png') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='city.jpg') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='happyhome.jpg') }}">
		
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjbWfUeCBmVzvJT4Na9cCPAWnB7XllbNo&callback=initMap"></script>
		<script type="text/javascript" src="../Static/Website.js"></script>
	</head>
	<body>
		<ul id="nav_bar">
		  <li><a id="home" onclick="onHomeNav()" href="http://thacker.mathcs.carleton.edu:5236/">Home</a></li>
		  <li><a id="state" onclick="onStateNav()" href="http://thacker.mathcs.carleton.edu:5236/state">State</a></li>
		  <li><a id="city" onclick="onCityNav()" href="http://thacker.mathcs.carleton.edu:5236/city">City</a></li>
		  <li><a class="active" id="compare" onclick="onCompareNav()" href="http://thacker.mathcs.carleton.edu:5236/compare">Compare</a></li>
		  <li><a id="find_city" onclick="onFindCityNav()" href="http://thacker.mathcs.carleton.edu:5236/find">Find City</a></li>
		  <li style="float: right"><a id="about" onclick="onAboutNav()" href="http://thacker.mathcs.carleton.edu:5236/about">About</a></li>
		</ul>
		<div id="page">
			<h1>Compare</h1>
			<input type="search" id="stateC1" placeholder="Enter a state..">
			<input type="search" id="cityC1" placeholder="Enter a city..">
			<p style="display:inline"> vs. </p> 
			<input type="search" id="stateC2" placeholder="Enter a state..">
			<input type="search" id="cityC2" placeholder="Enter a city..">
			<button id="compare_button" onclick="onGetCompareButton()">Compare</button> 
			<div id="assignment_content">
				<br><table id="results_table"> </table>
			</div>
		</div>
	</body>
</html>