<!DOCTYPE html>
<html>
	<head>
		<title>Weather3x</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='websiteStyles.css') }}" />
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='jeff_square_head.jpg') }}">
		<link type="image/png" href="{{ url_for('static', filename='compare.png') }}">
		<link type="image/png" href="{{ url_for('static', filename='state.png') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='city.jpg') }}">
		<link type="image/jpg" href="{{ url_for('static', filename='happyhome.jpg') }}">
		
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjbWfUeCBmVzvJT4Na9cCPAWnB7XllbNo&callback=initMap"></script>
		<script type="text/javascript" src="../Static/Website.js"></script>


	</head>
	<body>
		<ul id="nav_bar">
		  <li><a class="active" id="home" onclick="onHomeNav()" href="http://thacker.mathcs.carleton.edu:5236/">Home</a></li>
		  <li><a id="state" onclick="onStateNav()" href="http://thacker.mathcs.carleton.edu:5236/state">State</a></li>
		  <li><a id="city" onclick="onCityNav()" href="http://thacker.mathcs.carleton.edu:5236/city">City</a></li>
		  <li><a id="compare" onclick="onCompareNav()" href="http://thacker.mathcs.carleton.edu:5236/compare">Compare</a></li>
		  <li><a id="find_city" onclick="onFindCityNav()" href="http://thacker.mathcs.carleton.edu:5236/find">Find City</a></li>
		  <li style="float: right"><a id="about" onclick="onAboutNav()" href="http://thacker.mathcs.carleton.edu:5236/about">About</a></li>
		</ul>
		<div id="page">
			<h1 class="title" style="font-size: 300%">Weather3x</h1>
			<div class="container">
				<h2 class="title"> Find </h3>
  				<img src="Static/happyhome.jpg" class="image">
 			    <div class="middle">
    				<li class="active" onclick="onFindCityNav()"> 
    					<a href="http://thacker.mathcs.carleton.edu:5236/find"> Find </a>
    				</li> 
  				</div>
  				<p style="text-align: center;"> Discover the perfect place to call home. </p>
			</div>
			<div class="container">
				<h2 class="title"> Compare </h3>
  				<img src="Static/compare.png" class="image">
 			    <div class="middle">
    				<li class="active" onclick="onCompareNav()">
    					<a href="http://thacker.mathcs.carleton.edu:5236/compare"> Compare </a>
    				</li>
    				</a>
  				</div>
  				<p style="text-align: center;"> Compare weather data between states and cities. </p>
			</div>
			<div class="container">
				<h2 class="title"> Search a City</h3>
  				<img src="Static/city.jpg" class="image">
 			    <div class="middle">
    				<li class="active" onclick="onCityNav()"> 
    				<a href="http://thacker.mathcs.carleton.edu:5236/city">City </a>
    				</li>
  				</div>
  				<p style="text-align: center;"> Find weather data on the city of your choosing. </p>
			</div>
			<div class="container">
				<h2 class="title"> Search a State </h3>
  				<img src="Static/state.png" class="image">
 			    <div class="middle">
    				<li class="active" onclick="onStateNav()">
    				<a href="http://thacker.mathcs.carleton.edu:5236/state">State</a> 
    				</li>
  				</div>
  				<p style="text-align: center;"> Find weather data on the state of your choosing. </p>
			</div>

			
		</div>
	</body>
</html>