<!DOCTYPE html>
<html>
	<head>
		<title>Weather</title>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjbWfUeCBmVzvJT4Na9cCPAWnB7XllbNo&callback=initMap"></script>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='books.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='websiteStyles.css') }}" />
		<script type="text/javascript" src="../Static/Website.js"></script>
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='jeff_square_head.jpg') }}">
	</head>
	<body>
		<ul id="nav_bar">
		  <li><a class="active" id="home" onclick="onHomeNav()">Home</a></li>
		  <li><a id="state" onclick="onStateNav()">State</a></li>
		  <li><a id="city" onclick="onCityNav()">City</a></li>
		  <li><a id="compare" onclick="onCompareNav()">Compare</a></li>
		  <li><a id="find_city" onclick="onFindCityNav()">Find City</a></li>
		  <li style="float: right"><a id="about" onclick="onAboutNav()">About</a></li>
		</ul>
		<div id="page">
			<h1>Weather Weather Weather</h1>
			<div class="container">
  				<img src="Static/jeff_square_head.jpg" class="image" style="width:100%">
 			    <div class="middle">
    				<button class="text" onclick="onStateNav()"> State </button>
  				</div>
			</div>
			<div class="container">
  				<img src="Static/jeff_square_head.jpg" class="image" style="width:100%">
 			    <div class="middle">
    				<button class="text" onclick="onCityNav()"> City </button>
  				</div>
			</div>
			<div class="container">
  				<img src="Static/jeff_square_head.jpg" class="image" style="width:100%">
 			    <div class="middle">
    				<button class="text" onclick="onCompareNav()"> Compare </button>
  				</div>
			</div>
			<div class="container">
  				<img src="Static/jeff_square_head.jpg" class="image" style="width:100%">
 			    <div class="middle">
    				<button class="text" onclick="onFindCityNav()"> Find </button>
  				</div>
			</div>

			
		</div>
	</body>
</html>