<!DOCTYPE html>
<html>
	<head>
		<title>Sexy Website for Jeffe</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='books.css') }}" />
		<script type="text/javascript" src="../Static/Website.js"></script>
		<link rel="icon" type="image/jpg" href="{{ url_for('static', filename='jeff_square_head.jpg') }}">
	</head>
	<body>
		<ul id="nav_bar">
		  <li><a class="active" id="home" onclick="onHomeNav()">Home</a></li>
		  <li><a id="max" onclick="onMaxNav()">Max Temp</a></li>
		  <li><a id="min" onclick="onMinNav()">Min Temp</a></li>
		  <li style="float: right"><a id="about" onclick="onAboutNav()">About</a></li>
		</ul>
		<div id="page">
			<h1>Weather Weather Weather</h1>
			<img src="{{ url_for('static', filename='jeff_square_head.jpg') }}">
		</div>
	</body>
</html>