#tile {
    -fx-opacity: 0;
}

#tile:hover {
    -fx-opacity: 1;
}

#gameBoard {
    -fx-background-color: #DDFFA4;
}

#grid {
    -fx-grid-lines-visible: false;
}

#BuyTower1Button:hover {
    -fx-background-color: BLACK;
}

#BuyTower2Button:hover {
    -fx-background-color: BLACK;
}

#BuyTower3Button:hover {
    -fx-background-color: BLACK;
}

#BuyTower4Button:hover {
    -fx-background-color: BLACK;
}